body {
  background: url("../imagenes/fondo2.jpg") no-repeat;
  background-size: cover;
}

@media (max-width: 900px) {
  body {
    background-color: lightslategrey;
  }
}

@media (max-width: 800px) {
  body {
    background-color: whitesmoke;
  }
}

@media (max-width: 600px) {
  body {
    background-color: gray;
  }
}
